<div class="text-center" >
  <h1>Stores</h1>
</div>

  <div class="row">
    <% @stores.each do |store|%>
        <div class="col-md-4" onclick="show(this)">
          <div class="store-box">
                <ul>
                      <%= image_tag store.logo.url, width:200  if store.logo?%><br>
                       <%= store.description%><br>
                       <%= link_to "", store%> 
                </ul>
          </div>
        </div>       
    <%end%>
  </div>
<%= javascript_include_tag "show"%>


