<h2 class="text-center"> <%= image_tag @store.logo.url, width:200  if @store.logo?%><br></h2>
<% if @store.products.present?%>
  <div class="row" style="margin-bottom:80px;">
    <% @products.each do |product|%>
      <%= render "products/product", product: product %>
    <%end%>
  </div>
<% else %>
  <%= render plain: "No entries found" %>
<% end %>

<%= javascript_include_tag "show"%>

