<h2 class="text-center"><%= @category.category_name%></h2>

<% if @category.products.present? %>
  <div class="row" style="margin-bottom:80px;">
    <% @products.each do |product|%>
      <%= render "products/product", product: product %>
    <%end%>
  </div>
<% else %>
  <%= render plain: "No entries found" %>
<% end %>

<%= javascript_include_tag "show"%>

