<h1>Editing product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Show this product", product_path%> |
  <%= link_to "Back to products", products_path %>
</div>

<!---- fo show this product store_product_path(product.store,product) or product-->