
  <div class="bckgrnd" style="padding:-20px;">
  <!--Main Navigation-->
  <header>
    <!-- Background image -->
    <div id="intro"
        class="bg-image shadow-1-strong"
        style="margin-top:-60px; background-image: url(https://mdbootstrap.com/img/new/slides/310.jpg); height: 760px; background-attachment: fixed;">
      <div class="mask text-white" style="height: 350px; background-color: rgba(0, 0, 0, 0.6)">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Summer sale!</h1>
            <h4 class="mb-4">Discounts up to 40%</h4>
            <a class="btn btn-outline-light btn-lg mb-3" href="#!" role="button">See the promotional offer<i class="fas fa-gem ms-1"></i></a><br>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <!--Main Navigation-->
  </div>





